snippet aufg
---------------------------------------------------------
--------------------- Aufgabe $1 -------------------------
---------------------------------------------------------
endsnippet

snippet Miri

Miri ist: super-duper-$1
Ich habe sie sehr $2.
Und ich will immer $3 !

endsnippet

snippet " *--" "Separtion of code blocks in c++" r
// _____________________________________________________________________________
endsnippet

snippet " *\"\"" "Separtion of code blocks in vimrc" r
" ______________________________________________________________________________
endsnippet


snippet mybox
___
>$1 |
|__|
endsnippet

snippet cnr "Commit Nr Abkürzung für Arbeit bei M&M"
TFS 2797
endsnippet

snippet cpr "Copy right für Arbeit bei M&M"
//-----------------------------------------------------------------------------
//  Copyright (c) M&M Software GmbH
//
//  PROPRIETARY RIGHTS are involved in the subject matter of this material.
//  All manufacturing, reproduction, use and sales rights pertaining to this
//  subject matter are governed by the license agreement. The recipient of this
//  software implicitly accepts the terms of the license.
//-----------------------------------------------------------------------------
endsnippet
