snippet aufg
---------------------------------------------------------
--------------------- Aufgabe $1 -------------------------
---------------------------------------------------------
endsnippet

snippet " *--" "Separtion of code blocks in c++" r
// _____________________________________________________________________________
endsnippet

snippet " *\"\"" "Separtion of code blocks in vimrc" r
" ______________________________________________________________________________
endsnippet


snippet mybox
___
>$1 |
|__|
endsnippet

